@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    color: #fff;
}

::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track{
    background-color: #2c2c31;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#8d87ff,#6c63ff,#2f0d7a);
    border-radius: 30px;
}
body{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background:#0c0c0c;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
    font-size: 1.5rem;
}
nav h1::after{
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
}
.conteiner h2{
    margin: 3rem 0 0 0;
    display: flex;
    font-weight: 400;
    align-items: center;
    justify-content: center;

}
.formcalc{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0.5rem 0;
}
.formcalc label{
    display: flex;
    flex-wrap: wrap;
}
.formcalc input{
    font-family: "Poppins";
    padding: 5px;
}
.input-box{
    display: flex;
    flex-direction: column;
    margin:10px;
}
.input-box input{
    color: #000;
    font-weight: 500;
}
.div-botton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.botao{
    background-color: #6c63ff;
    color: #fff;
    font-weight: 500;
    padding: 0.3rem 6rem;
    border-radius: 4px;
}
.botao:hover{
    padding: 0.3rem 6.5rem;
    transition: all 0.3s ease-in-out;
}
.result{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 20px;
}
.result p{
    color: #6c63ff;
    font-size: 1.8rem;
}
.attribution{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 11px;
    height: 100px;    
    text-align: center;
    line-height: 100px;
}
.attribution a{
    color: #6c63ff;
}